<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="haxenv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <haxenv.Properties.Settings>
            <setting name="HaxeDownloadListURL" serializeAs="String">
                <value>https://haxe.org/download/list/</value>
            </setting>
            <setting name="HaxeURL" serializeAs="String">
                <value>https://github.com/HaxeFoundation/haxe/releases/download/{0}/haxe-{0}-{1}.zip</value>
            </setting>
            <setting name="NekoURL" serializeAs="String">
                <value>https://github.com/HaxeFoundation/neko/releases/download/v2-3-0/neko-2.3.0-{0}.zip</value>
            </setting>
        </haxenv.Properties.Settings>
    </userSettings>
</configuration>